<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896289128304-v9numvpa3i806e2ukro38alldgllkmeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896289128304-v9numvpa3i806e2ukro38alldgllkmeq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>896289128304-77fccgaq0pj5noj7783sbduj37osagpb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuEe61uxgEmU-RLnbr43Nwajkgak_zL5U</string>
	<key>GCM_SENDER_ID</key>
	<string>896289128304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sellncash</string>
	<key>PROJECT_ID</key>
	<string>xtracover-7a20c</string>
	<key>STORAGE_BUCKET</key>
	<string>xtracover-7a20c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896289128304:ios:7e7ef24ce778158b2399b5</string>
	<key>DATABASE_URL</key>
	<string>https://xtracover-7a20c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>